@model ShareYourPlaylist.Models.HomeViewModel

<div class="container text-center">
    <h1>@Model.Title</h1>
    <p>@Model.WelcomeMessage</p>
    <p>@Model.Description</p>

    <img src="@Model.ImageUrl" alt="Welcome Image" style="max-width: 100%; height: auto;">
</div>
